<h3>Branches</h3>
<%= form_for(@branch, :url => (@branch.new_record? ? branches_path : branch_path(@branch)), :method => (@branch.new_record? ? "POST" : "PATCH")) do |f| %>
  <% if @branch.errors.any? %>
    <div id="error_explanation">
      <h2><%= I18n.t("errors.messages.not_saved",
          :count => pluralize(@branch.errors.count, "error"),
          :resource => @branch.class.model_name.human.downcase) %> </h2>
      <ul>
        <% @branch.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="column">
    <p> <label> State: </label>
      <%= f.select :state,  options_for_select([["Select", ""]] + IndianCity.all.map{|ic| [ic.city_state]}.uniq), {}, :onchange => "GetCities(this.value)" %>
    </p>
  </div>
  <div class="column" id="cities">
    <p> <label> City: </label>
      <%= f.select :city, options_for_select(["Select", ""]) %>
    </p>
  </div>
  <div class="column">
    <p><label> Branch Name:</label> <%= f.text_field :name %></p>
  </div>
  <div class="column">
    <p><label>Start - End:</label> <%= f.text_field :start_point, :style => "width:170px;", :placeholder => "start point" %> <%= f.text_field :end_point, :style => "width:170px;", :placeholder => "end point" %></p>
  </div>
  <div class="column"> 
    <%= f.submit "save", :class => "btn btn-large" %>
  </div>
<% end %>
<style>
  .column label{
    display: -moz-inline-stack;
    width: 15%;
  }
</style>
