<table width="60%" cellpadding="10px" cellspacing="10px;">
  <tr>
    <td>Business Name:</td>
    <td><%= @user.business_name %></td>
  </tr>
  <tr>
    <td>Location:</td>
    <td><%= @user.location %></td>
  </tr>
  <tr>
    <td>Contact Name:</td>
    <td><%= @user.contact_name %></td>
  </tr>
  <tr>
    <td>Phone:</td>
    <td><%= @user.phone %></td>
  </tr>
  <tr>
    <td>Email:</td>
    <td><%= @user.email %></td>
  </tr>
</table>