<%= link_to "View Table Format", "javascript:void(0);", :class=>"btn btn-success", :onclick => "LrViewTable();", :id => "lr_data_view", :style => "float: right;" %><br/><br/>
<div id="lr_entries_chart">
</div>
<div id="lr_data" style="display: none;">
  <%= link_to "View Graph Format", "javascript:void(0);", :class=>"btn btn-success", :onclick => "LrViewGraph();", :style => "float: right;" %><br/><br/>
  <table width="100%" border="1" cellpadding="5px" cellspacing="5px">
    <tr>
      <th>SI No</th>
      <th>Bilty No</th>
      <th>Bilty Date</th>
      <th>No. of pckgs</th>
      <th>Total Weight</th>
      <th>From Address</th>
      <th>Consignee Address</th>
      <th>Customer Name</th>
      <th>Total Amount</th>
      <th>Invoice Date</th>
      <th>Payment Status</th>
    </tr>
    <% @lr_entries.each_with_index do |lr_entry, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= lr_entry.lr_no %></td>
        <td><%= lr_entry.lr_date %></td>
        <td><%= lr_entry.packages %></td>
        <td><%= lr_entry.total_actual_wt %></td>
        <td><%= lr_entry.from_station %></td>
        <td><%= lr_entry.consignee_address %></td>
        <td><%= lr_entry.consignee %></td>
        <td><%= lr_entry.net_amount %></td>
        <td><%= lr_entry.invoice_date %></td>
        <td><%= lr_entry.payment_status %></td>
      </tr>
    <% end %>
  </table>
</div>
<br/><br/>
<%= link_to "View Table Format", "javascript:void(0);", :class=>"btn btn-success", :onclick => "LorryViewTable();", :id => "lorry_data_view", :style => "float: right;" %><br/><br/>
<div id='lorry_challan_chart'>
</div>
<div id="lorry_data" style="display: none;">
  <%= link_to "View Graph Format", "javascript:void(0);", :class=>"btn btn-success", :onclick => "LorryViewGraph();", :style => "float: right;" %><br/><br/>
  <table width="100%" border="1" cellpadding="5px" cellspacing="5px">
    <tr>
      <th>SI No</th>
      <th>Challan No</th>
      <th>Challan Date</th>
      <th>Truck No</th>
      <th>Owner Name</th>
      <th>Driver Name</th>
      <th>From Address</th>
      <th>Total Weight</th>
      <th>Total Amount</th>
    </tr>
    <% @lorry_callans.each_with_index do |lorry_callan, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= lorry_callan.challan_no %></td>
        <td><%= lorry_callan.challan_date %></td>
        <td><%= lorry_callan.truck_no %></td>
        <td><%= lorry_callan.owner_name %></td>
        <td><%= lorry_callan.driver_name %></td>
        <td><%= lorry_callan.from_station %></td>
        <td><%= lorry_callan.total_weight %></td>
        <td><%= lorry_callan.total_to_pay   %></td>
      </tr>
    <% end %>
  </table>
</div>
<script type="text/javascript" charset="utf-8">
  $(function() {
    new Highcharts.Chart({
      chart: {renderTo: 'lr_entries_chart'},
      title: {text: 'Lr Entries'},
      xAxis: {type: 'datetime'},
      yAxis: {
        title: {text: 'number of Lr Entries'}
      },
      tooltip: {
        formatter: function() {
          return Highcharts.dateFormat("%B %e, %Y", this.x) + ':' + Highcharts.numberFormat(this.y, 2)
        }
      },
      series: [{
          pointInterval: <%= @pointInterval %>,
          pointStart: <%= @pointStart %>,
          data: <%= @data %>
        }]
    });

    new Highcharts.Chart({
      chart: {renderTo: 'lorry_challan_chart'},
      title: {text: 'Lorry Challans'},
      xAxis: {type: 'datetime'},
      yAxis: {
        title: {text: 'number of Lorry Challans'}
      },
      tooltip: {
        formatter: function() {
          return Highcharts.dateFormat("%B %e, %Y", this.x) + ':' + Highcharts.numberFormat(this.y, 2)
        }
      },
      series: [{
          pointInterval: <%= @pointInterval %>,
          pointStart: <%= @pointStart %>,
          data: <%= @lorry_challan_data %>
        }]
    });
  });
</script>

<script type="text/javascript">
  $(document).ready(function() {
    $('#from_date').datepicker({
    });
    $('#to_date').datepicker({
    });
  })
  function LrViewTable() {
    $("#lr_entries_chart").hide(1500);
    $("#lr_data_view").hide(1500);
    $("#lr_data").show(1500);
  }
  function LorryViewTable() {
    $("#lorry_challan_chart").hide(1500);
    $("#lorry_data_view").hide(1500);
    $("#lorry_data").show(1500);
  }
  function LrViewGraph() {
    $("#lr_entries_chart").show(1500);
    $("#lr_data_view").show(1500);
    $("#lr_data").hide(1500);
  }
  function LorryViewGraph() {
    $("#lorry_challan_chart").show(1500);
    $("#lorry_data_view").show(1500);
    $("#lorry_data").hide(1500);
  }
</script>