<table class="table table-striped">
  <tr>
    <th colspan="6"><%= link_to "Create new", new_expense_path %></th>
  </tr>
  <% if @expenses.empty? %>
    <tr>
      <th colspan="6" id="empty">
        No expenses. For creation of new expense please <%= link_to "Click here", new_expense_path %>
      </th>
    </tr>
  <% else %>
    <tr>
      <th>Date</th>
      <th>Name</th>
      <th>Towards</th>
      <th>Comment</th>
      <th>Amount</th>
      <th>Actions</th>
    </tr>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.exp_date %></td>
        <td><%= expense.name %></td>
        <td><%= expense.towards %></td>
        <td><%= expense.comment %></td>
        <td>INR <%= expense.amount %></td>
        <td><%= link_to "Modify", edit_expense_path(expense), :class => "btn btn-mini btn-success" %>  <%= link_to "Delete", expense_path(expense), :method => :delete,:data => {:confirm => "Are you sure!"}, :class => "btn btn-mini btn-danger" %></td>
      </tr>
    <% end %>
  <% end %>
</table>