<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Bilty" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <div class="nav-collapse">
            <% if signed_in? %>
              <% if current_user.role_type != "super_admin" %>
                <ul class="nav pull-left">
                  <li>
                    <%= link_to image_tag("/assets/chti_logo.png"), "/", :style => "padding: 0;" %>
                  </li>
                  <li>
                    <% unless !(current_user.role_type == "admin" || current_user.access_types.include?("bilty_generator"))  %>
                      <%= link_to "LR Entry", lr_entries_path %>
                    <% end %>
                  </li>
                  <% unless current_user.role_type != "admin" %>
                    <li>
                      <%= link_to "Lorry Challan", lorry_challans_path %>
                    </li>
                  <% end %>
                  <li>
                    <%= link_to "Search", searches_path %>
                  </li>
                  <li>
                    <% unless !(current_user.role_type == "admin" || current_user.access_types.include?("expense_management"))  %>
                      <%= link_to "Expenses", expenses_path %>
                    <% end %>
                  </li>
                  <% unless current_user.role_type != "admin" %>
                    <li>
                      <%= link_to "Branches", branches_path %>
                    </li>
                  <% end %>
                </ul>
                <ul class="nav pull-right">
                  <% unless current_user.role_type != "admin" %>
                    <li>
                      <%= link_to "Users", users_path %>
                    </li>

                  <% end %>
                  <li>
                    <%= link_to "Profile", user_path(current_user) %>
                  </li>

                  <li>
                    <% unless current_user.role_type != "admin"  %>
                      <%= link_to "Settings", customs_path %>
                    <% end %>
                  </li>

                  <li>
                    <%= link_to "Logout" ,destroy_user_session_path, :method => "DELETE"%>
                  </li>
                </ul>
              <% else %>
                <ul class="nav pull-left">
                  <li>
                    <%= link_to image_tag("/assets/chti_logo.png"), "/", :style => "padding: 0;" %>
                  </li>
                </ul>
                <ul class="nav pull-right">
                  <li>
                    <%= link_to "Profile", user_path(current_user) %>
                  </li>
                  <li>
                    <%= link_to "Logout" ,destroy_user_session_path, :method => "DELETE"%>
                  </li>
                </ul>
              <% end %>
            <% else %>
              <ul class="nav pull-left">
                <li>
                  <%= link_to image_tag("/assets/chti_logo.png"), "/", :style => "padding: 0;" %>
                </li>
              </ul>
            <% end %>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>


    <div class="container" style="padding-bottom:50px;">
      <br/><br/><br/>
      <% if notice %>
        <div class="alert alert-info" style="margin-top: 0px;">
          <a class="close" data-dismiss="alert">×</a>
          <strong><%= notice %></strong>
        </div>
      <% end %>
      <% if alert %>
        <div class="alert alert-error">
          <a class="close" data-dismiss="alert">×</a>
          <strong><%= alert %></strong>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
